.container {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: lightgray;
  }
  
  .item {
    position: absolute;
    top: 0;
    right: 0;
    background-color: steelblue;
    color: white;
    padding: 10px;
  }
  